$bg-primary: #ffe1b5;
$bg-primary_sub: #c1af92;
$bg-accent: #fab042;
$bg-accent_sub: #fec570;
$bg-accent_reverse: #493a24;
//底色為亮色時的強調色
$bg-body_dark: #131313;
$bg-dark: #1e1e1e;
$bg-dark_sub: #333333;
$bg-muted: #5d5d5d;
$bg-light: #fffaec;
$bg-light_sub: #d9d9d9;