@import "../utils/variables";
@import "../utils/mixin";
@import "../base/basic";

html {
  font-family: "Cube11";
}

* {
  font-family: "Cube11";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cube&8";
}

// 標題
@include title($title_d);

@include m() {
  @include title($title_m);
}

// 內文
@include paragraph($paragraph_d);

@include m() {
  @include paragraph($paragraph_m);
}


//雜訊效果

// .Noise{pointer-events: none;}
.Noise::after ,.Noise::before{
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
}
.Noise::after {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(54, 54, 54, 1) 100%
  );
  // rgba(13, 13, 13, 1) 100%
  // mix-blend-mode: overlay;
  opacity: 0.4;
}
.Noise::before {
  background: url(@/assets/image/noise.gif);
  mix-blend-mode: overlay;
  opacity: 0.5;
  background-repeat: repeat;
}