/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Cube11";
  src: url("@/assets/css/font/Cubic.WOFF") format("truetype");
}
@font-face {
  font-family: "Cube&8";
  src: url("@/assets/css/font/Cubic.WOFF") format("truetype");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: "Cube&8";
  src: url("@/assets/css/font/8BIT.TTF") format("truetype");
  unicode-range: U+00-024F;
}
.bg_primary {
  background-color: #ffe1b5;
}

.bg_primary_sub {
  background-color: #c1af92;
}

.bg_accent {
  background-color: #fab042;
}

.bg_accent_sub {
  background-color: #fec570;
}

.bg_accent_reverse {
  background-color: #493a24;
}

.bg_body_dark {
  background-color: #131313;
}

.bg_dark {
  background-color: #1e1e1e;
}

.bg_dark_sub {
  background-color: #333333;
}

.bg_muted {
  background-color: #5d5d5d;
}

.bg_light {
  background-color: #fffaec;
}

.bg_light_sub {
  background-color: #d9d9d9;
}

@font-face {
  font-family: "Cube11";
  src: url("@/assets/css/font/Cubic.WOFF") format("truetype");
}
@font-face {
  font-family: "Cube&8";
  src: url("@/assets/css/font/Cubic.WOFF") format("truetype");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: "Cube&8";
  src: url("@/assets/css/font/8BIT.TTF") format("truetype");
  unicode-range: U+00-024F;
}
.bg_primary {
  background-color: #ffe1b5;
}

.bg_primary_sub {
  background-color: #c1af92;
}

.bg_accent {
  background-color: #fab042;
}

.bg_accent_sub {
  background-color: #fec570;
}

.bg_accent_reverse {
  background-color: #493a24;
}

.bg_body_dark {
  background-color: #131313;
}

.bg_dark {
  background-color: #1e1e1e;
}

.bg_dark_sub {
  background-color: #333333;
}

.bg_muted {
  background-color: #5d5d5d;
}

.bg_light {
  background-color: #fffaec;
}

.bg_light_sub {
  background-color: #d9d9d9;
}

html {
  font-family: "Cube11";
}

* {
  font-family: "Cube11";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cube&8";
}

h1 {
  font-size: 68px;
  line-height: 81.6px;
  letter-spacing: 3.4px;
}

h2 {
  font-size: 42px;
  line-height: 50.4px;
  letter-spacing: 2.1px;
}

h3 {
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 1.8px;
}

h4 {
  font-size: 26px;
  line-height: 31.2px;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 21px;
  line-height: 25.2px;
  letter-spacing: 1.05px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px;
    line-height: 45.6px;
    letter-spacing: 1.9px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 1.2px;
  }
  h4 {
    font-size: 22px;
    line-height: 26.4px;
    letter-spacing: 1.1px;
  }
  h5 {
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0.9px;
  }
}
.p_md {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0.18px;
}

.p_lg {
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 0.24px;
}

.p_xl {
  font-size: 28px;
  line-height: 39.2px;
  letter-spacing: 0.28px;
}

@media screen and (max-width: 767px) {
  .p_md {
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.14px;
  }
  .p_lg {
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.16px;
  }
  .p_xl {
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.18px;
  }
}
.container {
  width: min(94%, 1320px);
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: min(94%, 720px);
    margin: 0 auto;
  }
}
.btn-primary {
  border: none;
  background-color: #fab042;
  color: #1e1e1e;
  display: flex;
  box-shadow: 3px 3px 0px #673e00;
  font-size: 20px;
  padding: 1% 3%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  transform: translate(-2px, -2px);
}
.btn-primary:hover {
  transform: translate(0, 0);
  transition: all 0.2s cubic-bezier(0.15, 0.62, 0.43, 0.8);
  box-shadow: 0px 0px;
}

.btn-secondary {
  border: 1px solid #fab042;
  background-color: #1e1e1e;
  color: #fab042;
  display: flex;
  box-shadow: 3px 3px 0px #673e00;
  font-size: 20px;
  padding: 1% 3%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  transform: translate(-2px, -2px);
}
.btn-secondary:hover {
  color: #fec570;
}
.btn-secondary:hover {
  transform: translate(0, 0);
  transition: all 0.2s cubic-bezier(0.15, 0.62, 0.43, 0.8);
  box-shadow: 0px 0px;
}

.btn-lightbox {
  border: 1px solid #fab042;
  background-color: #493a24;
  color: #fab042;
  display: flex;
  box-shadow: 3px 3px 0px #673e00;
  font-size: 20px;
  padding: 1% 3%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  transform: translate(-2px, -2px);
}
.btn-lightbox:hover {
  color: #fec570;
}
.btn-lightbox:hover {
  transform: translate(0, 0);
  transition: all 0.2s cubic-bezier(0.15, 0.62, 0.43, 0.8);
  box-shadow: 0px 0px;
}

.btn-disable {
  display: flex;
  font-size: 20px;
  padding: 1% 3%;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: #5d5d5d;
  color: #d9d9d9;
}/*# sourceMappingURL=app.css.map */