$padding:1% 3%;
$border-radius: 15px;
$font-size: 20px;
$border: 2.5px solid #FEC570;
$box-shadow: 3px 3px 0px #D37E00;
$box-shadow-none: 0px 0px;


//桌機版
@mixin btn-primary{
    display: flex;
	font-family: 'Cube11';
    padding: $padding;
    border: none;
    background-color: #FAB042;
    text-align: center;
    border-radius: $border-radius;
    cursor: pointer; 
    font-size: $font-size;
    box-shadow: $box-shadow;
    color:#131313; 
    transition:all .2s;
    transform:translate(-3px,-3px);
        &:hover {
            transform: translate(0,0);
            transition: all .2s cubic-bezier(.15,.62,.43,.8);
            box-shadow: $box-shadow-none;
            background-color: #FEC570;

        }
    }

@mixin btn-secondary{
    display: flex;
    padding: $padding;
    border: $border;
	font-family: 'Cube11';
    background-color: #1E1E1E;
    box-shadow: $box-shadow;
    text-align: center;
    border-radius: $border-radius;
    cursor: pointer; 
    font-size: $font-size;
    color:#FAB042; 
    transition:all .2s;
    transform:translate(-3px,-3px);
        &:hover {
            transform: translate(0,0);
            transition: all .2s cubic-bezier(.15,.62,.43,.8);
            color:#FEC570; 
            box-shadow: $box-shadow-none;

        }
    }

@mixin btn-lightbox{
    display: flex;
    padding: $padding;
    border: none;
	font-family: 'Cube11';
    background-color: #493A24;
    box-shadow: $box-shadow;
    border: $border;
    text-align: center;
    border-radius: $border-radius;
    cursor: pointer; 
    font-size: $font-size;
    color:#FAB042; 
    transition:all .2s;
    transform:translate(-3px,-3px);
        &:hover {
            transform: translate(0,0);
            transition: all .2s cubic-bezier(.15,.62,.43,.8);
            color:#FEC570; 
            box-shadow: $box-shadow-none;

        }
    }

@mixin btn-disable{
    display: flex;
    padding: $padding;
    border: none;
	font-family: 'Cube11';
    background-color: #5D5D5D;
    text-align: center;
    border-radius: $border-radius;
    font-size: $font-size;
    color:#A8A8A8; 
    }
    
//手機版