@import "../utils/variables";
@import "../utils/mixin";

$border: 2.5px solid #FEC570;
$box-shadow-none: 0px 0px;


// btn

$button: (
    "primary":(
        "border": none,
        "background-color": map-get($color,primary),
        "color": map-get($color,body_dark), 
        "hover": (
            "transform": translate(0,0),
            "transition": all .2s cubic-bezier(.15,.62,.43,.8),
            "box-shadow": $box-shadow-none,
            "background-color": map-get($color,accent_sub),
        ),
    ),
    "secondary":(
        "border": $border,
        "background-color": map-get($color,dark),
        "color": map-get($color,accent), 
        "hover":(
            "transform": translate(0,0),
            "transition": all .2s cubic-bezier(.15,.62,.43,.8),
            "color":map-get($color,accent_sub), 
            "box-shadow": $box-shadow-none,
        ),
    ),
);


@mixin btn-lightbox{
    display: flex;
    border: none;
	font-family: 'Cube11';
    background-color: #493A24;
    text-align: center;
    cursor: pointer; 
    color:#FAB042; 
    transition:all .2s;
    transform:translate(-3px,-3px);
        &:hover {
            transform: translate(0,0);
            transition: all .2s cubic-bezier(.15,.62,.43,.8);
            color:#FEC570; 
            box-shadow: $box-shadow-none;

        }
    }

// @mixin btn-disable{
//     display: flex;
//     padding: $padding;
//     border: none;
// 	font-family: 'Cube11';
//     background-color: #5D5D5D;
//     text-align: center;
//     border-radius: $border-radius;
//     font-size: $font-size;
//     color:#A8A8A8; 
//     }
    
//手機版