@import "../utils/variables";
@import "../utils/mixin";

$border: 1px solid #fab042;
$box-shadow-none: 0px 0px;
$padding:10px 30px;
$border-radius:10px;
$font-size:20px;
$box-shadow:4px 4px 0px #673e00;
$transform:translate(-3px,-3px);

// btn //直接套class名稱即可

  // btn-primary
  // btn-secondary
  // btn-lightbox
  // btn-disable

@mixin btnCommon {
    display: flex;
    box-shadow: $box-shadow;
    font-size: $font-size;
    padding: $padding;
    border-radius: $border-radius;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    transform: $transform;
    margin: auto 10px;
  
    &:hover {
      transform: translate(0, 0);
      transition: all 0.2s cubic-bezier(0.15, 0.62, 0.43, 0.8);
      box-shadow: $box-shadow-none;
    }
  }
  
  
  @mixin btn-primary {
    .btn-primary {
      border: none;
      background-color: map-get($color, accent);
      color: map-get($color, dark);
      
      @include btnCommon;
    }
  }
  
  @mixin btn-secondary {
    .btn-secondary {
      border: $border;
      background-color: map-get($color, dark);
      color: map-get($color, accent);
  
      &:hover {
        color: map-get($color, accent_sub);
      }
  
      @include btnCommon;
    }
  }
  
  @mixin btn-lightbox {
    .btn-lightbox {
      border: $border;
      background-color: map-get($color, accent_reverse);
      color: map-get($color, accent);
  
      &:hover {
        color: map-get($color, accent_sub);
      }
  
      @include btnCommon;
    }
  }
  
  @mixin btn-disable {
    .btn-disable {
      display: flex;
      font-size: $font-size;
      padding: $padding;
      border-radius: $border-radius;
      text-align: center;
      border: none;
      background-color: map-get($color, muted);
      color: map-get($color, light_sub);
    }
  }
  
  @include btn-primary;
  @include btn-secondary;
  @include btn-lightbox;
  @include btn-disable;