// 引入字體
/* @font-face {
  font-family: "font";
  src: url('./src/assets/css/font/8BIT.TTF') format('truetype');
} */

/* @font-face {
  font-family: "font";
  src: url(../../font/8BIT.TTF);
} */

/* html {
  font-family: "font";
} */