// 斷點
@mixin m() {
  @media screen and (max-width: $m-breakpoint) {
    @content;
    $status: "m";
  }
}

@mixin t() {
  @media screen and (max-width: $t-breakpoint) {
    @content;
    $status: "t";
  }
}

@mixin ts() {
  @media screen and (max-width: $ts-breakpoint) {
    @content;
    $status: "ts";
  }
}

// 標題
@mixin title($title, $color: null) {
  @each $k, $fz in $title {
    #{$k} {
      font-size: $fz;
      line-height: $fz * 1.2;
      color: $color;

      letter-spacing: $fz * 0.05;
    }
  }
}

@mixin paragraph($paragraph, $color: null) {
  @each $k, $fz in $paragraph {
    #{$k} {
      font-size: $fz;
      line-height: $fz * 1.4;
      color: $color;

      letter-spacing: $fz * 0.01;
    }
  }
}

// 背景顏色
@mixin bgc($color) {
  @each $k, $v in $color {
    .bg_#{$k} {
      background-color: $v;
    }
  }
}
