// -------- 斷點(大到小)
$m-breakpoint: 767px;
$t-breakpoint: 1365px;
$ts-breakpoint: 1023px;

// -------- 容器
$container: (
  "d_container": (
    "max_width": 1200px,
    "width": 80%,
  ),
  "t_container": (
    "max_width": 1140px,
    "width": 80%,
  ),
  "m_container": (
    "max_width": 720px,
    "width": 94%,
  ),
  "ts_container": (
    "max_width": 960px,
    "width": 85%,
  ),
);

// -------- 顏色
$color: (
  "primary": #ffe1b5,
  "primary_sub": #c1af92,

  "accent": #fab042,
  "accent_sub": #fec570,
  "accent_reverse": #493a24,

  //底色為亮色時的強調色
  "body_dark": #131313,
  "dark": #1e1e1e,
  "dark_sub": #333333,

  "muted": #5d5d5d,

  "light": #fffaec,
  "light_sub": #d9d9d9,
);

//--------- 字體大小/行距
// 標題
$title_d: ("h1" 68px, "h2" 42px, "h3" 36px, "h4" 26px, "h5" 21px);

$title_m: ("h1" 24px, "h2" 20px, "h3" 18px, "h4" 12px, "h5" 10px);

// 內文
$paragraph_d: (".p_md" 18px, ".p_lg" 24px, ".p_xl" 28px);

$paragraph_m: (".p_md" 14px, ".p_lg" 16px, ".p_xl" 18px);

// map-get($物件總名稱, key的名稱)
